<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <title>Cards</title>
</head>
<body>
<div class="container">
    <h2>Your cards</h2>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Account number</th>
            <th>Card number</th>
            <th>Expiration date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td th:text="${card.account.number}"/>
            <td th:text="${card.number}"/>
            <td th:text="${card.issue}"/>
        </tr>
        </tbody>
    </table>
    <p><a class="btn btn-sm btn-light btn-block col-sm-1" th:href="@{/api/welcome}">Back</a></p>
</div>
</body>
</html>