<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h2>Bank start page</h2>
<hr>
<p>Select transaction:</p>
<table>
    <tr>
        <th><a th:href="@{/api/check(id=1)}">View balance</a></th>
    </tr>
    <tr>
        <th><a th:href="@{/api/selectAccount(id=1)}">Deposit</a></th>
    </tr>
    <tr>
        <th><a th:href="@{/api/viewCards(id=1)}">View cards</a></th>
    </tr>
    <tr>
        <th><a th:href="@{/api/issue(id=1, )}">Issuing a new card</a></th>
    </tr>
</table>
</body>
</html>